{% extends 'base.html' %}
{% load static %}
{% block title %}cart{% endblock title %}
{% block body %}{% endblock body%}
{% block main %}



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>

<div class="py-3 bg-primary">
    <div class="medicine-link">
        <a class="text-white" href="{% url 'home' %}">Home /</a>
        <a class="text-white" href="{% url 'cart' %}">Cart </a>
        
    </div>
</div>
<h1 class="product-h1"><p>{{ products.name }} </p></h1>
<div class="py-5">
    <div class="medicine-container">
        <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body  cartdata">
                {% if cart %}
                    {% for item in cart %}
                        <div class="row product_data">
                            <div class="col-md-2 my-auto">
                                <img src=" {{ item.product.product_image.url }}" height="70px" width="70px" alt="Image here">
                            </div>
                            <div class="col-md-3 my-auto">
                                <h6>{{ item.product.name}}</h6>
                            </div>
                            <div class="col-md-2 my-auto">
                                <h6> Rs {{ item.product.selling_price | stringformat:'d'}}</h6>
                            </div>
                            <div class="col-md-3 my-auto">
                                <input type="hidden" class="prod_id" value="{{ item.product_id}}">
                                {% csrf_token %} 
                                {% if item.product.quantity >= item.product_qty %}
                                     <label for="Quantity">Quantity</label>
                                    <div class="input-group text-center mb-3" style="width: 130px;">
                                         <button class="input-group-text  changeQuantity decrement-btn">-</button>  
                                        <input type="text" name="quantity" class="form-control qty-input text-center" value="{{item.product_qty}} " style="width: 60px;">
                                        <button class="input-group-text changeQuantity increment-btn">+</button>
                                     </div>

                                {% else %}
                                    <h6>Out of stock</h6>
                                {% endif %}
                            </div>
                            <div class="col-md-2 my-auto">
                                <button class="btn btn-danger deletet-cart-item"> <i class="fa fa-trash"></i>Remove</button>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="{% url 'checkout' %}" class="btn btn-outline-success">Checkout</a>
                    {% else %}
                        <h4> Your cart is empty</h4>
                    {% endif %}
    </div>
</div>
</div>

<script src = "{% static 'js/custom.js' %}">

{% endblock main %}
